@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400&family=Outfit:wght@300;400;700&display=swap");
.color-brand {
  color: #FFE606;
}

.background-color-brand {
  background-color: #FFE606;
}

.color-drak-grey {
  color: #333333;
}

.background-color-drak-grey {
  background-color: #333333;
}

.color-white {
  color: #F4F4F4;
}

.background-color-white {
  background-color: #F4F4F4;
}

/*
font-family: 'Cormorant', serif;
font-family: 'Outfit', sans-serif;*/