$red:#B20405;
$dark-grey:#1A1D19;
$white: #F4F4F4;

$brand-colors:(
    'brand':  $red,
    'drak-grey': $dark-grey,
    'white': $white,
);

@each $name, $value in $brand-colors {

    .color-#{$name}{
        color: $value;
    }

    .background-color-#{$name}{
        background-color: $value;
    }
}

