
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,600&family=Outfit:wght@300;400;700&display=swap');
.name{
    font-family: 'Cormorant';
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    margin: $margin-text;
}
.text{
    font-family: 'outfit';
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    margin: $margin-text;
    letter-spacing: 0.05em; 
}
.h2{
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 700;
    color: $dark-grey;
    margin: 0px;

}