
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,600&family=Outfit:wght@300;400;700&display=swap');
.name{
    font-family: 'Cormorant';
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    margin: $margin-text;
    
    
    @media (min-width: 1024px){
        font-size: 180px;
        line-height: 140px;
    }
    @media (min-width: 1600px){
        font-size: 210px;
        line-height: 170px;
    }
}
.text{
    font-family: 'outfit';
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    margin: $margin-text;
    letter-spacing: 0.05em; 
}
.text-small{
    font-family: 'outfit';
    font-size: 14px;
    line-height: 18px;
    font-weight: 200;
    margin: 0px;
   
 
}


.intro-title{
    font-family: 'Cormorant';
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin: $margin-text;
    text-align: center;
    color: $dark-grey;
}
.cita{
    font-family: 'Cormorant';
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}

.numbers{
    font-family: 'Cormorant';
    font-style: italic;
    font-size: 100px; 
    margin: -10px 0px;
    
    @media (min-width: 768px) {
        font-size: 150px;
        margin-top:-100px;
        /*margin-bottom: -20px; me gustaria dejar esto a escepcion del 03*/
    }

}
.card-numbers{
    font-family: 'Cormorant';
    font-style: italic;
    font-size: 50px;
    margin: -15px 0px -5px 0px;

}

.small-title{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 200;
    margin: 0px;
}

.relevant-text{
    font-family: 'Cormorant';
    font-style: italic;
    font-size: 40px;
    font-weight: 200;
    line-height: 40px;
    width: 100%;
    
}

.relevant-text-underlined{
    font-family: 'Cormorant';
    font-style: italic;
    font-size: 40px;
    font-weight: 200;
    line-height: 40px;
    background-size: 1px 1em;
    box-shadow:
      inset 0 -22px $red,
     
   
  

}
.link{
    color: $grey;


    &:hover{
        color: $white;

    }
}

.cita-small{
    font-family:'Cormorant';
    font-style: italic;
    font-size: 20px;
    font-weight: 200;
   

}

.contact-text{
    font-family: 'Cormorant';
    color:$red;
    font-size: 40px;
    font-weight: 200;
   letter-spacing: 2px;
   margin: 0px;

}
.contact-link{
    color: $dark-grey;


    &:hover{
        color: $red;
    }
}

.footer-text{
    color: $dark-grey;
    font-size: 14px;
    font-family: 'Cormorant';
    margin: 0px;
    text-align: center;
}