html{
    font-size: 100%;
}

body, html{
    height: 100%;
}

body{
    font-family: 'outfit';
    color:$white;
    background-color: $dark-grey;
    margin: 0px;
    
}
.secction-white{
    background-color: $white;

    @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $space--medium 0px;
    min-height: 100vh;

    }  
    @media (min-width: 1800px) {
    padding: $space--medium 100px;}
}

.secction-dark{
    background-color: $dark-grey;
    padding: $space-large;  
   

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: $space-large 0px;
        min-height: 100vh;
        width: 100%;
    }  
    @media (min-width: 1800px) {
        padding: $space-large 100px;}  
}

.text-space{
    width: 100%;
    display: flex;
    flex-direction: column;
    

    @media (min-width: 768px) {
        width: 50%;
        padding: 0px $xl*2 0px $xl*3;
    }
}