html{
    font-size: 100%;
}

body, html{
    height: 100%;
}

body{
    font-family: 'outfit';
    color:$white;
    background-color: $dark-grey;
    margin: 0px;
    
}
.secction-white{
background-color: $white;
padding: $space-large;  
}

.secction-dark{
    background-color: $dark-grey;
    padding: $space-large;  

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding:$space-large 0px;
        height: 100vh;
        
    }    
}

.text-space{
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        width: 50%;
        padding: 0px $xl*2;
    }
}
