.gradient{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
    background: linear-gradient(45deg, #1A1D19,#B02C32, #EB4C37, #F9CCD1,#ffffff);
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
	height: 100vh;


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

}

.text-gradient{
    display: flex;
    flex-direction: column;
    justify-content: center;
}