.card-link{
  
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    margin: 10px 0px;
    text-decoration: none;
    transition: 0.5s;
    border: 10px solid $dark-grey;
    


    &:hover{
        background-color: $red;
        transform: scale(1.1);
        
    
    }
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding:0px;
        width: 50%;
        margin: 0px;
        
        
    }   

   
}
    


.inteior-card{
    margin: $space--medium  $space $space--medium $space;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;}


.card{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    text-align: left;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
        
    }   
    
}
.section-card{
    display: flex;
    align-items: left;
    justify-content: center;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        
    }   
}
