.section-contact{
    background-color: $dark-grey;
    padding: 0px $space-large; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contact-card{
    background-color: $white;
    padding: $xl*1.5;
    max-width: 330px;
    @media (min-width: 1024px) {
        max-width: 600px;
        justify-content: center;
        padding:$xl $xl*2;

        }
}
.top-contact{
    margin-bottom: -16px;
    margin-left: -110px;
    color: $white;
    font-family: 'conmornt';
    font-size: 60px;
    
    
    @media (min-width: 1024px) {
        font-size: 150px;
        margin-bottom: -40px;
        margin-left: -194px;
        }
}

.bottom-contact{
    margin-top: -28px;
    color: $white;
    font-family: 'conmornt';
    font-size: 60px;
    margin-right: -128px;
  

   @media (min-width: 1024px) {
    font-size: 150px;
    margin-right: -254px;
    margin-top: -71px;
    }
}

.conctact-links{
    display: flex;
    align-items: center;
   margin-top: $space-large;
  
}